{% extends 'base.html.twig' %}

{% block title %}Hello HomeControlllerController!{% endblock %}

{% block body %}
<h1> <i class="fa-solid fa-house"></i> Bonjour</h1>

<a href="" class="btn btn-danger">Mon boutton</a>
{% endblock %}